@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@0;1&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.card-title{
    color: #231D4F;
}
button a{
    text-decoration: none;
}
.border{
    background-color: #F496D1;
}